In [1]:
import os
try:
	os.chdir(os.path.join(os.getcwd(), '.'))
	print(os.getcwd())
except:
	pass

d:\CODING\ML100\2nd-ML100Days

In [2]:
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import warnings
from sklearn.exceptions import DataConversionWarning

In [3]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/Part01/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

 ## 作業
 將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [4]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [5]:
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

In [6]:
le = LabelEncoder()
ohe = OneHotEncoder()
sub_train_le = le.fit_transform(sub_train)
sub_train_2d = np.reshape(sub_train_le, (-1,1))
sub_train_ohe = ohe.fit_transform(sub_train_2d).toarray()
sub_train_ohe_df = pd.DataFrame(sub_train_ohe)
print(sub_train_ohe_df.shape, '\n')
sub_train_ohe_df.head()

(307511, 7)

     0    1    2    3    4    5    6
0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4  0.0  0.0  0.0  0.0  1.0  0.0  0.0